#**for**

- For is a fung that can loop each type of variabkle in the form of a collection or sequence
- The variable in question can be a list, string, or range.
- if a list or sequence contains experession, it will be evaluated first
- then the first item in the order / list will be diassigned as a variable iterating_var afterwards, the state data block will be executed, continuing to the next item, repeating until the sequence.

In [ ]:
visual_design= ['Photoshop','Ilustrator','corel draw']

for perangkat in visual_design:
    print("Software Editing {}".format(perangkat))

Software Editing Photoshop
Software Editing Ilustrator
Software Editing corel draw

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

**For Bertingkat**

A nested loop has one loop inside of another. These are typically used for working with two dimensions such as printing stars in rows and columns as shown below. When a loop is nested inside another loop, the inner loop runs many times inside the outer loop.

In [ ]:
for row in range(10):
    for col in range(10):
        if row == 0 and col <= 0:
            print("*", end = " ")
        elif row == 1 and col <= 1:
            print("*", end = " ")
        elif row == 2 and col <= 2:
            print("*", end = " ")
        elif row == 3 and col <= 3:
            print("*", end = " ")
        elif row == 4 and col <= 4:
            print("*", end = " ")
        elif row == 5 and col <= 5:
            print("*", end = " ")
        elif row == 6 and col <= 6:
            print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [ ]:
for row in range(10):
    for col in range(10):
        if row == 0 and col <= 7:
            print("*", end = " ")
        elif row == 1 and col <= 7:
            print("*", end = " ")
        elif row == 2 and col <= 7:
            print("*", end = " ")
        elif row == 3 and col <= 7:
            print("*", end = " ")
        elif row == 4 and col <= 7:
            print("*", end = " ")
        elif row == 5 and col <= 7:
            print("*", end = " ")
        elif row == 6 and col <= 7:
            print("*", end = " ")
    print()

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

#**While**

- While in the python language is used to execute statements as long as the given conditions are met (True)
- conditions can be any expression, and please keep in mind that true in phytons includes all values non_zero
- when the condition becomes false, the program will proceed to the line after the statement block

In [ ]:
angka= int(input())
while (angka < 100):
    print("bilangan terbaik {}".format(angka))
    angka = angka + 5

85
bilangan terbaik 85
bilangan terbaik 90
bilangan terbaik 95

#**BREAK**

- the break statement stops the loop then exits, followed by executing the statement after the looping block.
- if you have a tiered loop, the break will stop the loop by the level or where it is located.
- but if it is placed in a loop with a second depth, for example, only that loop will stop, not with the main loop.

In [ ]:
x = "Ramadhan Jazz Festival":

For i in x:
  if i == x [12]
        break
  print(i)

SyntaxError: ignored

In [ ]:
x = "Ramadhan Jazz Festival 2022"
for i in x:
    if i == x[23]:
        break
    print(i,end="")

Ramadhan Jazz Festival

In [ ]:
for i in "Management":
    if i == "e":
      break
    print(i)

M
a
n
a
g

In [ ]:
while True: # loop forever
 line = input("Type anything, type 'done' to exit: ")
 if line == 'done':
    break # transfers control out of the loop
 print('You entered:', line)
print('Finished')

#**Continue**

- The continue statement stops the current iteration
- then continues it to the next iteration
- statements that lie between continue to the end of the loop block

In [ ]:
x = "Ramadhan Jazz Festival 2022"
for i in x:
    if i == x[23]:
        continue
    print(i,end="")

Ramadhan Jazz Festival 0

In [ ]:
for i in "Management":
    if i == "a":
      continue
    print(i)

M
n
g
e
m
e
n
t

In [3]:
# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end